*.classpath
*.obj
*.exe
*.dll
*.lib
*Debug*
*Release*
*.a
*.so
*.sdf
*.opensdf
*.suo
/proj.android/obj/*
/proj.android/bin/*
/proj.android/gen/*
/proj.android/assets/*
/proj.win32/Debug.win32/*
/proj.win32/packages/*